
<h1> Article list </h1>

<ul>
    <% @articles.each do |article| %>
  <li><%= link_to article.title, article_path(article) %> </li>
    <% end %>
</ul>

<%= link_to "Add an article", new_article_path %>
